name: Check
on: push
jobs:
    lint:
      runs-on: ubuntu-latest
      steps:
          - name: Checkout
            uses: actions/checkout@v5

          - name: Setup Python
            uses: actions/setup-python@v6
            with:
              python-version: '3.12'
          
          - name: Install Poetry
            run: pip install poetry
            
          - name: Install dependencies
            working-directory: ./sleepproject
            run: poetry install
            
          - name: Lint
            working-directory: ./sleepproject
            run: poetry run python -m pylint --fail-under=3.0 sleep_tracking_app/

    test:
      needs: [lint]
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v5

        - name: Setup Python
          uses: actions/setup-python@v6
          with:
            python-version: '3.12'
        
        - name: Install Poetry
          run: pip install poetry
          
        - name: Install dependencies
          working-directory: ./sleepproject
          run: poetry install

        - name: Run tests
          working-directory: ./sleepproject
          env:
            DJANGO_SETTINGS_MODULE: sleepproject.settings_ci
            PYTHONWARNINGS: ignore
          run: poetry run python manage.py test sleep_tracking_app --verbosity=2

