{% extends "home.html" %}

{% block content %}
 <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card mb-3 border-0 nth-shadow">
                        <div class="card-body">
                            <div class="card-header">
                                <h2>Пароль изменён</h2>
                            </div>
                            <div class="card-body">
                                <div style="font-size: 20px;">Пароль был успешно изменён. Используйте его для входа</div>
                                <p class="mt-3"><a href="{% url 'login' %}">Войти</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>

{% endblock %}

{% block exit %}
{% endblock %}