apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: celery-beat
  name: celery-beat
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: celery-beat
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.service: celery-beat
    spec:
      containers:
        - args:
            - sh
            - -c
            - celery -A sleepproject beat --loglevel=info
          envFrom:
            - secretRef:
                name: app-env
          imagePullPolicy: IfNotPresent
          image: sleepproject-celery-beat:latest
          name: celery-beat
      restartPolicy: Always
