apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: ollama
  name: ollama
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: ollama
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.service: ollama
    spec:
      containers:
        - image: ollama/ollama:0.9.6
          name: ollama
          envFrom:
            - secretRef:
                name: app-env
          ports:
            - containerPort: 11434
              protocol: TCP
          volumeMounts:
            - mountPath: /root/.ollama
              name: ollama-cm0
      restartPolicy: Always
      volumes:
        - configMap:
            name: ollama-cm0
          name: ollama-cm0
