{% extends 'home.html' %}

{% block title %}
Редактирование данных о сне
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Изменение данных о сне</h1>
                {% if messages %}
                <div class="alert alert-warning">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn-hero">Изменить</button>
                </form>
        </div>
    </div>
</div>

{% endblock %}